<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966227361155-h9cfkf1rf4fstbp52hnbre304a54unlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966227361155-h9cfkf1rf4fstbp52hnbre304a54unlb</string>
	<key>API_KEY</key>
	<string>AIzaSyBmJF6ZDCOIGii9tcIuTc6luucOdv-UY6s</string>
	<key>GCM_SENDER_ID</key>
	<string>966227361155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.revolucao3d.revolucao3dApp</string>
	<key>PROJECT_ID</key>
	<string>revolucao3d-df168</string>
	<key>STORAGE_BUCKET</key>
	<string>revolucao3d-df168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966227361155:ios:c4f9a8a4d38ca83b560ab6</string>
</dict>
</plist>